__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/
.env

# Environment variables
.env.local
.env.*.local

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Node (frontend)
node_modules/
dist/
build/

# Misc
*.sqlite3